
body {
  text-align: center;
  margin:auto;
  
}
a{
  padding: 10px;
}
*{
  margin: auto;
}
  
  

img{
  height:400px;
  width:600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}
#featured-property p{
  width: 800px;
}


#details {
  display: inline-flex;
  width: 100vw;
  background-color: red;
  padding:auto;
}
#details div{
  margin:auto;
}
